DB_SOURCE_TOKEN_SERVICE_LOCAL=postgresql://root:secret@localhost:5434/streamfair_token_service_db?sslmode=disable
DB_SOURCE_TOKEN_SERVICE=postgresql://root:secret@db:5432/streamfair_token_service_db?sslmode=disable
MIGRATION_URL=file://db/migration
HTTP_SERVER_ADDRESS_TOKEN_SERVICE=0.0.0.0:8082
GRPC_SERVER_ADDRESS_TOKEN_SERVICE=0.0.0.0:9092
TOKEN_SYMMETRIC_KEY=12345678901234567890123456789012
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=24h
SERVER_NAME=localhost
CERT_PEM=/streamfair_token_svc/ssl/certs/api.streamfair.local.cert.pem
KEY_PEM=/streamfair_token_svc/ssl/private/api.streamfair.local.key.pem
CA_CERT_PEM=/streamfair_token_svc/ssl/certs/ca-chain.cert.pem